.about {
  background-color: #0a2850;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.about__title {
  display: flex;
  max-width: 251px;
  margin: 100px 0 0 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  z-index: 2;
}

.about__content {
  display: flex;
  flex-direction: column;
  max-width: 660px;
  margin: 119px 80px 173px 0;
  gap: 20px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.about__paragraph {
  margin: 0;
}

.about__circle {
  width: 426px;
  height: 426px;
  background-color: #1878dc;
  border-radius: 50%;
  position: absolute;
  z-index: 0;
  top: -152px;
  left: -129px;
}

.about__circle_animation_blurred {
  width: 426px;
  height: 426px;
  background-color: #1878dc;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: -152px;
  left: -129px;
  animation: pulsate 1.3s ease-in-out infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1);
    opacity: 0.6;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
