.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  max-width: 385px;
  padding: 0;
  justify-content: center;
  border: none;
}

.form__label {
  margin-bottom: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}
.form__input {
  border-radius: 4px;
  border: 1px solid #838383;
  padding: 15px 20px;
  margin-bottom: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  border-radius: 4px;
  border: none;
  background-color: #1878dc;
  margin-bottom: 32px;
  padding: 20px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.form__button:hover {
  background-color: #3f96f3;
  transition: background-color 0.4s ease;
}
.form__agreement {
  display: flex;
  justify-content: center;
  gap: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__checkbox {
  height: 20px;
  width: 20px;
  border-radius: 2px;
}
