.menu {
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__title {
  max-width: 780px;
  margin: 0 auto 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  max-width: 780px;
  margin: 0 auto 100px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  align-items: center;
}

.card {
  width: 540px;
  position: relative;
}

.card__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.card__list-items {
  list-style: none;
}

.card__list-divider {
  flex-grow: 1;
  border-bottom: 1px solid;
  align-self: flex-end;
  margin: 0 0.5rem;
}
