.recipes {
  background-color: #0a2750;
  color: #ffffff;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 215px;
  padding-top: 100px;
  padding-left: 80px;
}

.recipes__title {
  display: flex;
  max-width: 580px;
  margin-bottom: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-top: 0;
}

.recipes__subtitle {
  display: flex;
  max-width: 438px;
  margin-top: 24px;
  margin-bottom: 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 40px;
  list-style: none;
  padding-left: 0;
}

.recipes__iframe {
  border: 0;
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  display: flex;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  gap: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
  margin: 24px auto 0;
  justify-content: center;
}

.recipes__video-caption-format {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 480px;
  padding-left: 0;
  margin: 0;
}
