.scroll {
  position: fixed;
  right: 50px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  background-color: rgb(93, 247, 247);
  color: #3f96f3;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 3.5px;
  text-decoration: none;
}

.scroll:hover {
  box-shadow: 4px 4px 5px;
  background-color: aqua;
}

/*..If this is not allowed I'll remove it.
It just makes it easier to move around...*/
