html {
  scroll-behavior: smooth;
}

/*Hope it's okay I added that behavior^*/

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  z-index: 0;
  background: #fff url("../images/background_header.svg") no-repeat center/cover;
  box-sizing: border-box;
}

.header__title {
  max-width: 729px;
  font-size: 60px;
  line-height: 72px;
  font-weight: 500;
  margin: 183px 0 0;
  letter-spacing: -0.6px;
}

.header__span-accent {
  color: #3f96f3;
  font-style: italic;
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
  z-index: -1;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  color: #6f6f6f;
  font-weight: 500;
}

.header__paragraph {
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: 500;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
}

.nav__links {
  display: flex;
  align-items: center;
  column-gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: #000;
  text-decoration: none;
}

/* Write your styles here */
.recipes {
  background-color: #0a2750;
  color: #ffffff;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 215px;
  padding-top: 100px;
  padding-left: 80px;
}

.recipes__title {
  display: flex;
  max-width: 580px;
  margin-bottom: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-top: 0;
}

.recipes__subtitle {
  display: flex;
  max-width: 438px;
  margin-top: 24px;
  margin-bottom: 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 40px;
  list-style: none;
  padding-left: 0;
}

.recipes__iframe {
  border: 0;
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  display: flex;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  gap: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
  margin: 24px auto 0;
  justify-content: center;
}

.recipes__video-caption-format {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 480px;
  padding-left: 0;
  margin: 0;
}
/*.Cut off.*/
.reservation {
  background-color: #d9e7ff;
  color: #000000;
  background-image: url(../images/background_reservation.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reservation__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}

.reservation__form {
  margin: 0 auto 0;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  max-width: 385px;
  padding: 0;
  justify-content: center;
  border: none;
}

.form__label {
  margin-bottom: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}
.form__input {
  border-radius: 4px;
  border: 1px solid #838383;
  padding: 15px 20px;
  margin-bottom: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  border-radius: 4px;
  border: none;
  background-color: #1878dc;
  margin-bottom: 32px;
  padding: 20px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.form__button:hover {
  background-color: #3f96f3;
  transition: background-color 0.4s ease;
}
.form__agreement {
  display: flex;
  justify-content: center;
  gap: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__checkbox {
  height: 20px;
  width: 20px;
  border-radius: 2px;
}
/*.cut off two*/

.footer {
  padding: 60px 80px;
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #fff;
  box-sizing: border-box;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin-bottom: 16px;
}

.footer__list-item:last-of-type {
  margin-bottom: 0;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__social-heading {
  margin: 0 0 20px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer__social-link {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.footer__copyright {
  margin: 108px 0 0;
}
